frontend/dist
frontend/assets/tailwind.css
frontend/static
frontend/.dioxus
frontend/node_modules
website/assets/tailwind.css
website/assets/flowbite.min.js
website/dist
website/node_modules
/target
*.br
