frontend/dist
frontend/assets/tailwind.css
frontend/static
frontend/.dioxus
frontend/node_modules
website/assets/tailwind.css
website/dist
website/node_modules
/target
/unload-mobile/target

# cargo-mobile2
unload-mobile/.cargo/
unload-mobile/gen
